<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>

</head>

<body>

    <div id="vue">

        <ul>
            <template v-for='(value, key, index) in Obj'>
                <li>
                    {{ index + 1 }} - {{ value }} - {{ key }}
                </li>
                <li>---</li>
            </template>
        </ul>

        <ul>
            <li v-for='n in 13'>
                {{ n }}
            </li>
        </ul>
    </div>

    <!-- --- -->

    <script>

        new Vue({
            el: '#vue',
            data: {

                // tests: [
                //     { test: 'Violet' },
                //     { test: 'Blessing' }
                // ],


                // Obj: {
                //     Item01: 'Violet',
                //     Item02: 'Blessing'
                // },



            }
        })

    </script>

</body>

</html>