html {
  height: 1080px;
}

html, body {
  padding: 0;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #afafdc;
}

.header-inner {
  display: flex;
  width: 80%;
  height: 100%;
  padding: 0 10%;
}

.header-inner * {
  float: left;
  box-sizing: border-box;
}

.header-inner input:focus {
  outline: none;
}

.header-inner div.logo {
  flex: 2;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  font-weight: lighter;
  color: #4b4b4b;
}

.header-inner input.nav-input {
  flex: 5;
  padding: 0;
  border: 2px solid #afafdc;
  border-radius: 20px;
  color: #afafaf;
  text-indent: 1em;
}

.header-inner input.nav-login {
  flex: 3;
  border: none;
  background-color: lightsteelblue;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: lightsteelblue;
}
