html,body {
    margin: 0;
    padding: 0;

}

.sticky-nav {
    display: inline-block;
    position: fixed;
    right: 20px;
    bottom: 50px;

    width: 34px;
    height: 272px;

    background-color: #4b4b4b;
}

.sticky-nav > div {
    position: relative;
    float: left;
    width: 34px;
    height: 34px;
}

.sticky-nav > div div {
    display: none;
    
    position: absolute;
    top: 0;
    left: -80px;

    width: 80px;
    height: 100%;
    background-color: #4b4b4b;
}

.sticky-nav > div:nth-child(1) {
    background: url("./img/1.png") 0px 0px;
}

.sticky-nav > div:nth-child(1):hover {
    background: url("./img/1.png") 40px 0px;
}

.sticky-nav > div:nth-child(2) {
    background: url("./img/1.png") 0px 35px;
}

.sticky-nav > div:nth-child(2):hover {
    background: url("./img/1.png") 40px 35px;
}

.sticky-nav > div:nth-child(3) {
    background: url("./img/1.png") 0px 70px;
}

.sticky-nav > div:nth-child(3):hover {
    background: url("./img/1.png") 40px 70px;
}

.sticky-nav > div:nth-child(4) {
    background: url("./img/1.png") 0px 105px;
}

.sticky-nav > div:nth-child(4):hover {
    background: url("./img/1.png") 40px 105px;
}

.sticky-nav > div:nth-child(5) {
    background: url("./img/1.png") 0px 140px;
}

.sticky-nav > div:nth-child(5):hover {
    background: url("./img/1.png") 40px 140px;
}

.sticky-nav > div:nth-child(6) {
    background: url("./img/1.png") 0px 175px;
}

.sticky-nav > div:nth-child(6):hover {
    background: url("./img/1.png") 40px 175px;
}

.sticky-nav > div:nth-child(7) {
    background: url("./img/1.png") 0px 210px;
}

.sticky-nav > div:nth-child(7):hover {
    background: url("./img/1.png") 40px 210px;
}

.sticky-nav > div:nth-child(8) {
    background: url("./img/1.png") 0px 245px;
}

.sticky-nav > div:nth-child(8):hover {
    background: url("./img/1.png") 40px 245px;
}