body {
    background-color: rgb(240, 240, 240);
}

.container {
    margin: auto;
    margin-top: 200px;

    width: 320px;
    height: 160px;

    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
    backface-visibility: visible;
    -webkit-backface-visibility: visible;

}

.main-box {
    width: 100%;
    height: 100%;
    position: relative;
    /* background-color: #afafaf; */

    transform: rotateX(60deg) rotateZ(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.main-box>div {
    float: left;
    position: absolute;
    background-color: rgba(175, 175, 175, 0.2);

    vertical-align: bottom;
    font-size: 0;
}

.main-box>.main-bottom{
    background-color: rgba(255, 255, 255, 0.1);
}

.main-bottom {
    box-shadow: 0px 0px 20px rgba(40, 40, 40, 0.2);
}

.main-top,.main-bottom,.main-front,.main-back {
    width: 320px;
    height: 80px;
}

.main-left,.main-right {
    width: 80px;
    height: 80px;
}

.main-top {
    transform: translateZ(40px);
}

.main-bottom {
    transform: translateZ(-40px);
}

.main-front {
    transform: rotateX(90deg) translateZ(40px);
}

.main-back {
    transform: rotateX(90deg) translateZ(-40px);
}

.main-left {
    transform: rotateY(90deg) translateZ(280px);
}

.main-right {
    transform: rotateY(90deg) translateZ(-40px);
}

.flux-loading {
    float: left;
    width: 100%;
    height: 100%;

    background-color: rgba(123, 108, 238, 0.7);

    animation-name: fluxLoading;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;

}

.flux-loading-right {
    width: 100%;
    height: 100%;

    background-color: rgba(123, 108, 238, 0.7);
}

.flux-loading,.flux-loading-right {
    box-shadow: 0px 0px 100px 10px rgba(123, 108, 238, 0.3);

    transition: all 0.3s;
}

@keyframes fluxLoading {
    0% {
        width: 0%;
    }

    100%{
        width: 100%;
    }

}